In [9]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

data_files = [
    "ap_2010.csv",
    "class_size.csv",
    "demographics.csv",
    "graduation.csv",
    "hs_directory.csv",
    "sat_results.csv"
]
data = {}
for i in data_files:
    d = pd.read_csv('schools/{0}'.format(i))
    data[i.replace('.csv', '')] = d

In [10]:
print(data)

                15.0                 1.0
...                                  ...                 ...
27606                              256.0                10.0
27607                               65.0                 2.0
27608                               53.0                 2.0
27609                               50.0                 2.0
27610                                NaN                 NaN

       AVERAGE CLASS SIZE  SIZE OF SMALLEST CLASS  SIZE OF LARGEST CLASS  \
0                    19.0                    19.0                   19.0
1                    21.0                    21.0                   21.0
2                    17.0                    17.0                   17.0
3                    17.0                    17.0                   17.0
4                    15.0                    15.0                   15.0
...                   ...                     ...                    ...
27606                25.6                    15.0                   35.0
27607                32.5                    32.0                   33.0
27608                26.5                    25.0                   28.0
27609                25.0                    25.0                   25.0
27610                 NaN                     NaN                    NaN

      DATA SOURCE  SCHOOLWIDE PUPIL-TEACHER RATIO
0             ATS                             NaN
1             ATS                             NaN
2             ATS                             NaN
3             ATS                             NaN
4             ATS                             NaN
...           ...                             ...
27606       STARS                             NaN
27607       STARS                             NaN
27608       STARS                             NaN
27609       STARS                             NaN
27610         NaN                            17.1

[27611 rows x 16 columns], 'demographics':           DBN                                              Name  schoolyear  \
0      01M015                         P.S. 015 ROBERTO CLEMENTE    20052006
1      01M015                         P.S. 015 ROBERTO CLEMENTE    20062007
2      01M015                         P.S. 015 ROBERTO CLEMENTE    20072008
3      01M015                         P.S. 015 ROBERTO CLEMENTE    20082009
4      01M015                         P.S. 015 ROBERTO CLEMENTE    20092010
...       ...                                               ...         ...
10070  32K564                    BUSHWICK COMMUNITY HIGH SCHOOL    20072008
10071  32K564                    BUSHWICK COMMUNITY HIGH SCHOOL    20082009
10072  32K564                    BUSHWICK COMMUNITY HIGH SCHOOL    20092010
10073  32K564                    BUSHWICK COMMUNITY HIGH SCHOOL    20102011
10074  32K564  BUSHWICK COMMUNITY HIGH SCHOOL                      20112012

      fl_percent  frl_percent  total_enrollment  prek     k grade1 grade2  \
0           89.4          NaN               281    15    36     40     33
1           89.4          NaN               243    15    29     39     38
2           89.4          NaN               261    18    43     39     36
3           89.4          NaN               252    17    37     44     32
4                        96.5               208    16    40     28     32
...          ...          ...               ...   ...   ...    ...    ...
10070       85.6          NaN               355   NaN   NaN    NaN    NaN
10071       65.2          NaN               383   NaN   NaN    NaN    NaN
10072                    89.2               395   NaN   NaN    NaN    NaN
10073                    88.2               420   NaN   NaN    NaN    NaN
10074        NaN         81.8               382

       ... black_num black_per hispanic_num hispanic_per white_num white_per  \
0      ...        74      26.3          189         67.3         5       1.8
1      ...        68      28.0          153         63.0         4       1.6
2      ...        77      29.5          157         60.2         7       2.7
3      ...        75      29.8          149         59.1         7       2.8
4      ...        67      32.2          118         56.7         6       2.9
...    ...       ...       ...          ...          ...       ...       ...
10070  ...       151      42.5          198         55.8         5       1.4
10071  ...       132      34.5          245         64.0         2       0.5
10072  ...       146      37.0          242         61.3         3       0.8
10073  ...       166      39.5          242         57.6         8       1.9
10074  ...       137      35.9          235         61.5         7       1.8

      male_num male_per female_num female_per
0        158.0     56.2      123.0       43.8
1        140.0     57.6      103.0       42.4
2        143.0     54.8      118.0       45.2
3        149.0     59.1      103.0       40.9
4        124.0     59.6       84.0       40.4
...        ...      ...        ...        ...
10070    181.0     51.0      174.0       49.0
10071    206.0     53.8      177.0       46.2
10072    199.0     50.4      196.0       49.6
10073    209.0     49.8      211.0       50.2
10074    169.0     44.2      213.0       55.8

[10075 rows x 38 columns], 'graduation':         Demographic     DBN                            School Name    Cohort  \
0      Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2003
1      Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2004
2      Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2005
3      Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2006
4      Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL  2006 Aug
...             ...     ...                                    ...       ...
25091          Male  32K564         BUSHWICK COMMUNITY HIGH SCHOOL      2003
25092          Male  32K564         BUSHWICK COMMUNITY HIGH SCHOOL      2004
25093          Male  32K564         BUSHWICK COMMUNITY HIGH SCHOOL      2005
25094          Male  32K564         BUSHWICK COMMUNITY HIGH SCHOOL      2006
25095          Male  32K564         BUSHWICK COMMUNITY HIGH SCHOOL  2006 Aug

       Total Cohort Total Grads - n Total Grads - % of cohort  \
0                 5               s                         s
1                55              37                     67.3%
2                64              43                     67.2%
3                78              43                     55.1%
4                78              44                     56.4%
...             ...             ...                       ...
25091            65               1                      1.5%
25092            64               2                      3.1%
25093            79               3                      3.8%
25094            57               4                        7%
25095            57               4                        7%

      Total Regents - n Total Regents - % of cohort  \
0                     s                           s
1                    17                       30.9%
2                    27                       42.2%
3                    36                       46.2%
4                    37                       47.4%
...                 ...                         ...
25091                 0                          0%
25092                 0                          0%
25093                 1                        1.3%
25094                 2                        3.5%
25095                 2                        3.5%

      Total Regents - % of grads  ... Regents w/o Advanced - n  \
0                              s  ...                        s
1                          45.9%  ...                       17
2                          62.8%  ...                       27
3                          83.7%  ...                       36
4                          84.1%  ...                       37
...                          ...  ...                      ...
25091                         0%  ...                        0
25092                         0%  ...                        0
25093                      33.3%  ...                        1
25094                        50%  ...                        2
25095                        50%  ...                        2

      Regents w/o Advanced - % of cohort Regents w/o Advanced - % of grads  \
0                                      s                                 s
1                                  30.9%                             45.9%
2                                  42.2%                             62.8%
3                                  46.2%                             83.7%
4                                  47.4%                             84.1%
...                                  ...                               ...
25091                                 0%                                0%
25092                                 0%                                0%
25093                               1.3%                             33.3%
25094                               3.5%                               50%
25095                               3.5%                               50%

      Local - n Local - % of cohort   Local - % of grads Still Enrolled - n  \
0             s                   s                    s                  s
1            20               36.4%                54.1%                 15
2            16                 25%  37.200000000000003%                  9
3             7                  9%                16.3%                 16
4             7                  9%                15.9%                 15
...         ...                 ...                  ...                ...
25091         1                1.5%                 100%               44.0
25092         2                3.1%                 100%               38.0
25093         2                2.5%                66.7%               46.0
25094         2                3.5%                  50%               34.0
25095         2                3.5%                  50%               34.0

      Still Enrolled - % of cohort Dropped Out - n Dropped Out - % of cohort
0                                s               s                         s
1                            27.3%               3                      5.5%
2                            14.1%               9                     14.1%
3                            20.5%              11                     14.1%
4                            19.2%              11                     14.1%
...                            ...             ...                       ...
25091                        67.7%            20.0                     30.8%
25092                        59.4%            22.0                     34.4%
25093                        58.2%            28.0                     35.4%
25094                        59.6%            17.0                     29.8%
25095                        59.6%            17.0                     29.8%

[25096 rows x 23 columns], 'hs_directory':         dbn                                        school_name       boro  \
0    17K548                Brooklyn School for Music & Theatre   Brooklyn
1    09X543                   High School for Violin and Dance      Bronx
2    09X327        Comprehensive Model School Project M.S. 327      Bronx
3    02M280     Manhattan Early College School for Advertising  Manhattan
4    28Q680  Queens Gateway to Health Sciences Secondary Sc...     Queens
..      ...                                                ...        ...
430  10X225             Theatre Arts Production Company School      Bronx
431  11X508                              Bronxdale High School      Bronx
432  11X253  Bronx High School for Writing and Communicatio...      Bronx
433  02M316  Urban Assembly School of Business for Young Wo...  Manhattan
434  25Q525                        Townsend Harris High School     Queens

    building_code    phone_number    fax_number grade_span_min  \
0            K440    718-230-6250  718-230-6262              9
1            X400    718-842-0687  718-589-9849              9
2            X240    718-294-8111  718-294-8109              6
3            M520  718-935-3477             NaN              9
4            Q695    718-969-3155  718-969-3552              6
..            ...             ...           ...            ...
430          X137    718-584-0832  718-584-5102              6
431          X415    718-944-3655  718-944-3662              9
432          X425    718-944-5660  718-944-5690              9
433          M282    212-668-0169  212-668-0635              9
434          Q515    718-575-5580  718-575-1366              9

     grade_span_max expgrade_span_min  expgrade_span_max  ...  \
0                12               NaN                NaN  ...
1                12               NaN                NaN  ...
2                12               NaN                NaN  ...
3                10                 9               14.0  ...
4                12               NaN                NaN  ...
..              ...               ...                ...  ...
430              12               NaN                NaN  ...
431              12               NaN                NaN  ...
432              12               NaN                NaN  ...
433              12               NaN                NaN  ...
434              12               NaN                NaN  ...

                                            priority02  \
0                      Then to New York City residents
1    Then to New York City residents who attend an ...
2    Then to Bronx students or residents who attend...
3    Then to New York City residents who attend an ...
4    Then to Districts 28 and 29 students or residents
..                                                 ...
430                Then to Bronx students or residents
431  Then to New York City residents who attend an ...
432  Then to New York City residents who attend an ...
433  Priority to Manhattan students or residents wh...
434                                                NaN

                                            priority03  \
0                                                  NaN
1                  Then to Bronx students or residents
2    Then to New York City residents who attend an ...
3            Then to Manhattan students or residents
4                 Then to Queens students or residents
..                                                 ...
430                    Then to New York City residents
431                Then to Bronx students or residents
432                Then to Bronx students or residents
433  Then to New York City residents who attend an ...
434                                                NaN

                                  priority04                       priority05  \
0                                        NaN                              NaN
1            Then to New York City residents                              NaN
2        Then to Bronx students or residents  Then to New York City residents
3            Then to New York City residents                              NaN
4            Then to New York City residents                              NaN
..                                       ...                              ...
430                                      NaN                              NaN
431          Then to New York City residents                              NaN
432          Then to New York City residents                              NaN
433  Then to Manhattan students or residents  Then to New York City residents
434                                      NaN                              NaN

    priority06  priority07 priority08  priority09 priority10  \
0          NaN         NaN        NaN         NaN        NaN
1          NaN         NaN        NaN         NaN        NaN
2          NaN         NaN        NaN         NaN        NaN
3          NaN         NaN        NaN         NaN        NaN
4          NaN         NaN        NaN         NaN        NaN
..         ...         ...        ...         ...        ...
430        NaN         NaN        NaN         NaN        NaN
431        NaN         NaN        NaN         NaN        NaN
432        NaN         NaN        NaN         NaN        NaN
433        NaN         NaN        NaN         NaN        NaN
434        NaN         NaN        NaN         NaN        NaN

                                            Location 1
0    883 Classon Avenue\nBrooklyn, NY 11225\n(40.67...
1    1110 Boston Road\nBronx, NY 10456\n(40.8276026...
2    1501 Jerome Avenue\nBronx, NY 10452\n(40.84241...
3    411 Pearl Street\nNew York, NY 10038\n(40.7106...
4    160-20 Goethals Avenue\nJamaica, NY 11432\n(40...
..                                                 ...
430  2225 Webster Avenue\nBronx, NY 10457\n(40.8546...
431  925 Astor Avenue\nBronx, NY 10469\n(40.8596983...
432  800 East Gun Hill Road\nBronx, NY 10467\n(40.8...
433  26 Broadway\nNew York, NY 10004\n(40.705234939...
434  149-11 Melbourne Avenue\nFlushing, NY 11367\n(...

[435 rows x 58 columns], 'sat_results':         DBN                                    SCHOOL NAME  \
0    01M292  HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES
1    01M448            UNIVERSITY NEIGHBORHOOD HIGH SCHOOL
2    01M450                     EAST SIDE COMMUNITY SCHOOL
3    01M458                      FORSYTH SATELLITE ACADEMY
4    01M509                        MARTA VALLE HIGH SCHOOL
..      ...                                            ...
473  75X012               P.S. X012 LEWIS AND CLARK SCHOOL
474  75X754        J. M. RAPPORT SCHOOL CAREER DEVELOPMENT
475  79M645     SCHOOL FOR COOPERATIVE TECHNICAL EDUCATION
476  79Q950                            GED PLUS s CITYWIDE
477  79X490                                PHOENIX ACADEMY

    Num of SAT Test Takers SAT Critical Reading Avg. Score  \
0                       29                             355
1                       91                             383
2                       70                             377
3                        7                             414
4                       44                             390
..                     ...                             ...
473                      s                               s
474                      s                               s
475                      s                               s
476                      8                             496
477                      9                             367

    SAT Math Avg. Score SAT Writing Avg. Score
0                   404                    363
1                   423                    366
2                   402                    370
3                   401                    359
4                   433                    384
..                  ...                    ...
473                   s                      s
474                   s                      s
475                   s                      s
476                 400                    426
477                 370                    360

[478 rows x 6 columns]}